<footer style="background-color: lightblue;">
<p><em>Intangible Textual Heritage</em> is an Open Access repository of quintessential ancient and modern texts of the human civilization.</p>
<p>It is maintained by the Open Access to Research Content Initiative and hosted on <a href="https://github.com/oarcscience/ith.oarc.science">GitHub</a> . If not explicitely stated, the content on this website is in the Public Domain.</p>
See <a href="/cnote.htm">Site copyrights</a>, <a href="/tos.htm">Terms of Service</a> for more information.</p>
<a href="/index.htm">Index</a> | <a href="/faq.htm">FAQ</a> | <a href="/contact.htm">Contact</a> | <a href="/search.htm">Search</a>
</footer>
