<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{site.data.meta[page.id].locsitetitle }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="img/favicon.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  <link rel="stylesheet" href="build/css/lib.css">
  <link rel="stylesheet" href="build/css/bible.css">
</head>

<body id="mybody" onload="setachap()">
  <a name="top"></a>
  <div class="toolbar">
    <div class="logo"><a href="/{{page.id}}" alt="Home" style="font-size:80%;">Bible in {{page.id | capitalize}}</a></div>
    <form class="chapter-body" method="post" name="Reading" onsubmit="readchapter(' ', document.Reading.na.selectedIndex, document.Reading.chap.selectedIndex); return false;" action="">
      <select class="book-selector form-elem" name="na" onchange="setchap(Reading, this.selectedIndex, 1)">
      {% assign booknames = site.data.meta[page.id].booknames | split: ", " %}
      {% for bookname in booknames %}
        <option value="{{ forloop.index0 }}" {% if forloop.first %}selected="selected"{% endif %} >{{ bookname }}</option>
      {% endfor %}
      </select>
      <select class="chapter-selector form-elem" name="chap">
      {% for chapter in (1..50) %}
        <option value="{{ forloop.index | prepend: '000' | slice: -3, 3 }}" {% if forloop.first %}selected="selected"{% endif %}> {{ site.data.meta[page.id].locchapterpref }}{{ chapter }}{{ site.data.meta[page.id].locchaptersuff }}</option>
      {% endfor %}
      </select>
      <input class="read-on  btn  form-elem" name="submit1" value="{{ site.data.meta[page.id].locformval }}" type="submit">
    </form>
  </div>
  <div class="content-wrap">
    <div class="content-container" id="nothing">
    <br><br><br><br><br><br>
    {{ site.data.meta[page.id].locstartinvite }}
    </div>
  </div>
  <div class="setting-panel">
    <div class="range">
      <h4 class="range-title setting-title"><i class="fa fa-font"></i>Change font size</h4>
      <div class="range-control">
        <input class="range-slide" type="range" min="10" max="80">
        <span class="range-size">20px</span>
      </div>
    </div>
    <ul class="setting-list  list-unstyled">
      <li class="setting-item toggle-theme">
        <h4 class="theme-title setting-title" href="#"><i class="fa fa-exchange"></i>Switch theme</h4>
        <input class="toggle toggle-default" id="toggle-theme-btn" type="checkbox">
        <label class="toggle-btn" for="toggle-theme-btn"></label>
        <span class="setting-desc">Light text on a dark background</span>
      </li>
      <li class="setting-item toggle-verse-number">
        <h4 class="verse-title setting-title" href="#"><i class="fa fa-list"></i>Toggle verse number</h4>
        <input class="toggle toggle-default" id="toggle-verse-number-btn" type="checkbox">
        <label class="toggle-btn" for="toggle-verse-number-btn"></label>
        <span class="setting-desc">Verse number on</span>
      </li>
    </ul>
  </div>

  <div class="nav-bar">
    <div id="link2" class="chapter-nav  main-chapter-nav" style="display:flex;align-items:center;">
      <a class="btn" href="" onclick="readchapter(' ', nowbook,--nowchapter); return false;">←</a>
      <a class="btn" href="" onclick="readchapter(' ', nowbook,++nowchapter); return false;">→</a>
    </div>


    <div id="link2" class="chapter-nav  main-chapter-nav" style="display:flex;align-items:center;">
      <a href="https://ibc.oarc.science" class="btn" style="margin:0.4rem;">IBC's main site</a>
      {{site.data.meta[page.id].locsitetitle }}
    </div>


  </div>

  <div class="reading-mode-controls">
    <button class="reading-mode-controls  btn  btn-genernal"><i class="fa fa-times"></i></button>
  </div>
  <script src="build/js/lib.js"></script>
  <script src="build/js/content-{{ page.id }}.js"></script>
</body>

</html>
